textarea {
  resize: none;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white !important;
}

.toggle {
  content: "";
  background-color: gray;
  height: 20px;
  width: 40px;
  position: relative;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  display: inline-block;
}
.toggle::after {
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  /* left: 22.5px; */
  left: 2.5px;
  transition: all 0.3s;
}

.toggle-selected {
  background-color: green;
}

.toggle-selected::after {
  left: 22.5px;
}
